// Заголовки, загальні БЕМ блоки та інше...
.subscribe-button {
    border-radius: toRem(20);
    color: #fff;
    background-color: $redColor;
    padding: toRem(10) toRem(20);
    transition: background-color 0.3s;

    @media (any-hover: hover) {
        &:hover {
            background-color: darken($redColor, 10%);
        }
    }
}
